$color-border: rgb(225, 225, 226);
$button-bgdcolor: rgb(232, 60, 60);
$button-hovercolor: rgb(211, 48, 48);
.footer-container{
	position: absolute;
	width: 100%;
	height: 4rem;
	bottom: 0;
	background: rgb(246, 246, 248);
	border-top: 1px solid $color-border;
	.prev-icon-container,
	.play-icon-container,
	.next-icon-container{
		position: absolute;
		border-radius: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translate(-0.5rem, -0.5rem);
		background: $button-bgdcolor;
		cursor: pointer;
		top: 1.25rem;
		width: 2.5rem;
		height: 2.5rem;
		.icon{
			color: #fff;
			width: 1.2rem;
			height: 1.2rem;
		}
		&:hover{
			background: $button-hovercolor;
		}
	}
	.prev-icon-container{
		left: 3.8rem;
	}
	.play-icon-container{
		left: 9rem;
		top: 1rem;
		width: 3rem;
		height: 3rem;
		.icon-ttpodicon{
			width: 1.8rem;
			height: 1.8rem;
			margin-right: -0.4rem;
		}
		.icon-zanting{
			width: 2.8rem;
			height: 2.8rem;
			margin-right: 0rem;
		}
	}
	.next-icon-container{
		left: 14.8rem;	
	}
	.mid-container{
		display: inline-block;
		margin-left: 20rem;
		width: 88rem;
		height: 100%;
		line-height: 4rem;
		span{
			color: rgb(136, 51, 106);
			font-size: 1.2rem;
			margin: 0 .8rem;
			cursor: default;
			user-select: none;
		}
		.icon-yinliang,
		.icon-weibiaoti1{
			vertical-align: middle;
			margin-right: 0.5rem;
			cursor: pointer;
		}
	}
}