<!DOCTYPE html>
<html>
<head>
	<title>vue学习用例</title>
	<meta charset="utf-8">
</head>
<body>
	<div id="app">
		<!-- v-bind:title === :title    v-on:click === @click -->
		<!-- mustache内部可以添加过滤器，由“管道”符指示，要写filters -->
		<p @click="hide" :id="'ppp'+people[0].id">{{message1|capitalize}}</p>
		<p :title="seen" v-if="seen">Hover on me</p>
		<p @click="show">{{message2}}</p>
		<input type="text" v-model="message2">
		<!-- <ul>
			<li v-for="person in people">{{person.id}}</li>
		</ul> -->
		<ol>
			<first-component v-for="person in people" :item="person" :key="person"></first-component>
		</ol>
		<button @click="consl">click</button>
	</div>
</body>
<script src="./vue.js"></script>
<script type="text/javascript">
	Vue.component('first-component', {
		props: ['item'],
		template: '<li>{{item.id}}</li>'
	})
	var vm = new Vue({
		el: "#app",
		data: {		//每个vm实例都会代理其data对象里面的属性
			message1: "hide the content",
			message2: "show the content",
			seen: true,
			people: [
				{id : 1},
				{id : 2},
				{id : 3},
				{id : 4}
			]
		},
		methods: {
			hide: function(){
				this.seen = false;
			},
			show: function(){
				this.seen = true;
			},
			consl: function(){
				console.log(document.getElementsByTagName("p")[0].id);
			}
		},
		created: function(){	//created这个钩子会在实例被创建之后调用
			console.log(this.message1);		//钩子的this指向vm实例
		},
		filters: {
			capitalize: function(value){
				return value.toString().charAt(0).toUpperCase() + value.slice(1);
			}
		}
	})
</script>
</html>